Importing pandas, matplot and seaborn

Read the CSV data

In [10]:
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as sb

data = pd.read_csv('PLA_pokedex_complete.csv')

Get basic info about the columns

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIER             248 non-null    object
 1   ID               248 non-null    object
 2   Pokemon          248 non-null    object
 3   Type_1           248 non-null    object
 4   Type_2           129 non-null    object
 5   Total            248 non-null    int64
 6   HP               248 non-null    int64
 7   Attack           248 non-null    int64
 8   Special_Attack   248 non-null    int64
 9   Defense          248 non-null    int64
 10  Special_Defense  248 non-null    int64
 11  Speed            248 non-null    int64
dtypes: int64(7), object(5)
memory usage: 23.4+ KB

Show numeric information on the data

In [12]:
data.describe()

,Total,HP,Attack,Special_Attack,Defense,Special_Defense,Speed
count,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000
mean,437.326613,71.572581,77.971774,73.907258,71.995968,72.802419,69.076613
std,113.531970,29.616762,30.974771,31.455313,30.332102,26.774612,28.715803
min,194.000000,20.000000,5.000000,10.000000,5.000000,20.000000,5.000000
25%,334.750000,55.000000,55.000000,50.000000,50.000000,51.750000,45.000000
50%,457.500000,70.000000,77.000000,70.000000,70.000000,70.500000,65.000000
75%,523.500000,85.000000,100.000000,95.000000,88.500000,90.000000,90.000000
max,720.000000,255.000000,165.000000,150.000000,200.000000,150.000000,150.000000

Show which and how many nulls columns have.

In [13]:
data.isnull().sum()

TIER                 0
ID                   0
Pokemon              0
Type_1               0
Type_2             119
Total                0
HP                   0
Attack               0
Special_Attack       0
Defense              0
Special_Defense      0
Speed                0
dtype: int64

Target only Pokemons meeting speficik type conditions

In [26]:
data[((data['Type_1'] == 'Water') & (data['Type_2'] == 'Ground'))]

,TIER,ID,Pokemon,Type_1,Type_2,Total,HP,Attack,Special_Attack,Defense,Special_Defense,Speed
80,C,#083,Gastrodon,Water,Ground,475,111,83,92,68,82,39
94,F,#097,Barboach,Water,Ground,288,50,48,46,43,41,60
95,C,#098,Whiscash,Water,Ground,468,110,78,76,73,71,60

Group pokemon types by their mean speed

In [34]:
data.groupby('Type_1')['Speed'].mean().head()

Type_1
Bug         55.150000
Dark        92.428571
Dragon      61.000000
Electric    88.578947
Fairy       51.333333
Name: Speed, dtype: float64

Sort speed into 3 different categories based on their speed value

In [35]:
def speed_rating(speed):
    if speed >= 100:
        return 'Fast'
    elif speed >= 50:
        return 'Average'
    else:
        return 'Slow'

Add new column with using the above parameters to determine the speed.

In [38]:
data['Speed_catergory'] = data['Speed'].apply(speed_rating)

data.head()

,TIER,ID,Pokemon,Type_1,Type_2,Total,HP,Attack,Special_Attack,Defense,Special_Defense,Speed,Speed_catergory
0,F,#001,Rowlet,Grass,Flying,320,68,55,50,55,50,42,Slow
1,D,#002,Dartrix,Grass,Flying,420,78,75,70,75,70,52,Average
2,A,#003,Hisuian Decidueye,Grass,Fighting,530,88,112,95,80,95,60,Average
3,F,#004,Cyndaquil,Fire,NaN,309,39,52,60,43,50,65,Average
4,D,#005,Quilava,Fire,NaN,405,58,64,80,58,65,80,Average